@model StratML.Core.ThreeFive.Organization
<div class="box">
    <div class="box-header">
        <i class="icon-group"></i>
        <h5>@Model.Name</h5>
    </div>
    <div class="box-content">
        @if (Model.Strategy != null)
    {
        <h6>Mission</h6>
        <p>@Model.Strategy.Mission.Description</p>
        <h6>Vision</h6>
        <p>@Model.Strategy.Vision.Description</p>
}
        @if (!string.IsNullOrEmpty(Model.Description))
    {
        <h6>Description</h6>
        <p>@Model.Description</p>
}
        @if (Model.Role != null)
    {
        <h6>Roles</h6>
        <ul>
            @foreach (var role in Model.Role)
        {
            @Html.Partial("_Role", role);
    }
        </ul>
}
        <div class="blockoff-left">
            <legend class="lead">
                Stakeholders
            </legend>

            @if (Model.Organization1 != null)
        {
            <div class="container">
                @foreach (var org in Model.Organization1)
            {
                @Html.Partial("_Organization", org);
        }
            </div>
    }
            @if (Model.Individual != null)
        {
            <div class="container">
                @foreach (var individual in Model.Individual)
            {
                @Html.Partial("_Individual", individual)

        }
            </div>
    }
        </div>
    </div>
    </div>

